<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View city</title>
</head>
<body>
<h1>City details</h1>
<p>
    <a href="/citys">Back to cities list</a>
</p>
<form th:object="${city}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>City Name: </td>
            <td th:text="*{cityName}"></td>
        </tr>
        <tr>
            <td>Area: </td>
            <td th:Long="*{area}"></td>
        </tr>
        <tr>
            <td>Population: </td>
            <td th:Long="*{population}"></td>
        </tr>
        <tr>
            <td>GDP: </td>
            <td th:Double="*{GDP}"></td>
        </tr>
        <tr>
            <td>Description: </td>
            <td th:text="*{description}" ></td>
        </tr>
        <tr>
            <td>Country: </td>
            <td th:text="*{country.name}"></td>
        </tr>
    </table>
</form>
</body>
</html>